[submodule "res/scroollify"]
	path = res/scrollify
	url = https://github.com/lukehaas/Scrollify.git
[submodule "res/jquery-cssHooks"]
	path = res/jquery-cssHooks
	url = https://github.com/brandonaaron/jquery-cssHooks.git
[submodule "res/Lettering.js"]
	path = res/Lettering.js
	url = https://github.com/davatron5000/Lettering.js.git
